// /////color/////
$primary: #AA0601;
$secondary: #FBF2F2;
$black: #000;
$white: #fff;
$brown: #5F3E2D;
$orange: #B75929;
$dark-red: #650300;
$dark-gray: #707070;
$gray: #DEE2E6;
$light-gray: #F2F2F2;

// /////font-family/////
$chinese: 'Noto Sans TC', sans-serif;
$english: 'Roboto', sans-serif;

// /////font-size/////
$fsz-base: 1rem;
$fsz-xs: $fsz-base * 1.125;
$fsz-s: $fsz-base * 1.25;
$fsz-m: $fsz-base * 1.5;
$fsz-l: $fsz-base * 2;
$fsz-xl: $fsz-base * 2.25;
$sub-title: $fsz-base * 2.625;
$other-title: $fsz-base * 3;
$title: $fsz-base * 4;

// /////line-height/////
$lh-l: 1.5;