.footer {
    background-color: $primary;
    color: $white;
    padding: 48px 0 32px;

    @include pad() {
        padding: 48px 0 40px;

        &-contact {
            margin-top: 24px;
        }
    }

    a {
        color: $white;
    }

    &-box {
        flex-direction: column;
        padding-bottom: 32px;
        border-bottom: 1px solid $white;
    }

    &-nav li {
        margin-right: 48px;
        border-bottom: 3px solid $primary;

        @include zoom(0.2s);

        &:hover {
            border-bottom: 3px solid $white;
        }
    }

    &-social li {
        margin-left: 32px;
        max-width: 48px;

        img {
            max-width: 100%;
            @include zoom(0.2s);
        }

        &:hover img {
            transform: scale(1.2);
        }
    }

    &-contact {
        font-size: $fsz-l;
        margin-top: 32px;

        span {
            font-size: $fsz-l;
            margin-right: 22px;
        }

        li:nth-child(1) {
            margin-bottom: 8px;
        }
    }


}

.copyright {
    padding-top: 32px;

    li {
        margin-left: 48px;
        font-size: 0.875em;
    }

    a {
        @include zoom(0.2s);
    }

    a:hover {
        color: $gray;
    }
}

@media(max-width: 767px) {
    .footer {
        padding: 24px 20px;

        &-box {
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-bottom: 20px;
            align-items: start;
        }

        &-nav {
            display: none;
        }

        &-social li {
            margin-left: 8px;
            max-width: 24px;
        }
    }

    .footer-contact {
        font-size: $fsz-base;
        margin-top: 0;

        span {
            font-size: $fsz-xs;
            margin-right: 11px;
        }

        li:nth-child(1) {
            margin-bottom: 8px;
        }
    }

    .copyright {
        padding-top: 20px;
        flex-direction: column;

        ul {
            flex-direction: column;
        }
    }

    .copyright li {
        margin-left: 0px;
        font-size: $fsz-base;

        &:nth-child(1) {
            margin: 8px 0;
        }
    }
}