.home-h3 {
    font-size: $other-title;
    font-weight: bold;
    color: $dark-red;
    text-align: center;
    margin-bottom: 48px;
}

.home-h4 {
    font-size: $fsz-m;
    font-weight: bold;
    color: $dark-red;
    text-align: center;
    margin-bottom: 8px;
}

@media(max-width:767px) {
    .home-h3 {
        font-size: $fsz-m;
        margin-bottom: 24px;
    }
}

.en {
    color: $primary;
    font-style: italic;
    font-weight: bold;
    font-size: $other-title;
    text-align: center;
    @include zoom(0.5s);

    a:hover & {
        color: $dark-red;
    }
}

.home-bg-secondary {
    width: 100%;
    background-color: $secondary;
}

// /////banner/////
.home-bg-banner {
    width: 100%;
    height: 787px;
    background-image: url('../img/home-header.png');
    background-size: cover;
    padding: 296px 0;
    color: $dark-red;
    text-align: right;

    p {
        font-size: $fsz-xl;
    }

    h2 {
        font-size: $title;
        font-weight: bold;
        margin-bottom: 4px;
    }
}

@media(max-width: 992px) {
    .home-bg-banner {
        height: 787px;
        background-image: url('../img/home-header-sm.png');
        padding: 296px 36px;
    }
}

@media(max-width: 767px) {
    .home-bg-banner {
        height: 396px;
        padding: 144px 14px;

        p {
            font-size: $fsz-base;
        }

        h2 {
            font-size: $fsz-m;
            margin-bottom: 8px;
        }
    }
}

// /////feature/////
.feature {

    .home-h3 {
        margin-bottom: 0;
    }

    ul {
        justify-content: space-between;
    }

    li {
        max-width: 306px;
        margin-top: 24px;
    }

    span {
        display: block;
        font-size: 100px;
        color: $dark-red;
        text-align: center;
        margin-bottom: 16px;
    }
}

@media(max-width: 992px) {
    .home-bg-secondary {

        ul {
            flex-wrap: wrap;
        }

        li {
            max-width: 336px;
        }

    }
}

@media(max-width: 767px) {
    .home-bg-secondary {

        ul {
            justify-content: center;
        }

        li {
            max-width: 348px;
        }
    }
}

// /////classic/////
.classic {
    ul {
        justify-content: space-between;
    }

    li {
        max-width: 416px;
    }

    &-img-box {
        max-width: 100%;
        height: 416px;
        overflow: hidden;
    }

    img {
        max-width: 100%;
        margin-bottom: 8px;
        object-fit: cover;
        object-position: 50% 50%;
        @include zoom(0.5s);
    }

    a:hover img {
        transform: scale(1.1);
    }
}

@media(max-width: 992px) {
    .classic {
        ul {
            flex-direction: column;
            align-items: center;
        }

        li {
            max-width: 336px;
        }

        li:nth-child(2) {
            margin: 24px 0;
        }

        &-img-box {
            margin-bottom: 8px;
            max-height: 336px;
        }
    }
}

@media(max-width: 767px) {
    .classic {

        li {
            max-width: 348px;
        }

        &-img-box {
            margin-bottom: 8px;
            max-height: 348px;
        }

    }
}

// /////collaboration/////
.home-bg-collaboration {
    background-image: url('../img/index-bg.png');
    background-size: cover;

    .home-h3 {
        color: $white;
    }

    .en {
        background-color: $white;
    }

    a:hover .en {
        background-color: $secondary;
    }

    li {
        max-width: 50%;
    }

    .collaboration-img-box {
        max-width: 100%;
        font-size: 0;
        overflow: hidden;
    }

    img {
        max-width: 100%;
        @include zoom(0.5s);
    }

    a:hover img {
        transform: scale(1.1);
    }
}

@media (max-width:992px) {
    .home-bg-collaboration ul {
        flex-wrap: wrap;

        li {
            max-width: 100%;
            margin-bottom: 24px;
        }

    }
}

// /////recommendation/////
.recommendation {
    justify-content: space-between;
    flex-wrap: wrap;

    &-card {
        max-width: 306px;
        height: 511px;
        border-radius: 4px;
        box-shadow: 0px 2px 6px #000029;
        flex-direction: column;
        margin: 6px;

        &:hover img {
            transform: scale(1.1);
        }
    }

    &-img-box {
        max-width: 100%;
        height: 306px;
        font-size: 0;
        border-radius: 4px 4px 0 0;
        overflow: hidden;

        img {
            max-width: 100%;
            @include zoom(0.5s);
        }
    }

    &-text-box {
        padding: 12px;
        flex-grow: 1;
        flex-direction: column;

        p:nth-child(1) {
            margin-bottom: 8px;
        }

        span {
            font-size: 0.875em;
            color: $dark-gray;
            display: block;
            margin-top: auto;
        }
    }
}

@media (max-width:992px) {
    .recommendation {
        justify-content: center;

        &-card {
            margin: 12px;
            max-width: 336px;
        }
    }
}

@media (max-width:767px) {
    .recommendation-card {
        margin: 0 0 16px;
        max-width: 348px;
    }
}

// /////contact/////
.contact {
    max-width: 636px;
    margin: 0 auto;

    p {
        margin-bottom: 24px;
        font-size: $fsz-s;
    }

    .name,
    .tel,
    .email,
    .textarea {
        width: 100%;
        padding: 6px 12px;
        background-color: rgba($color: $white, $alpha: 0.2);
        border: 1px solid $black;
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .checkbox {
        min-width: 20px;
        height: 20px;
        margin-right: 4px;
    }

    .d-flex {
        margin-bottom: 48px;
    }

    button {
        font-size: $fsz-s;
        font-weight: bold;
        padding: 16px 176px;
        display: block;
        margin: 0 auto;
        border: 0;
    }
}

@media(max-width:992px) {
    .contact {
        .home-h3 {
            margin-bottom: 24px;
        }

        p {
            font-size: $fsz-base;
        }
    }
}

@media(max-width:767px) {
    .contact {
        .d-flex {
            align-items: start;
            margin-bottom: 24px;
        }

        button {
            width: 100%;
            padding: 16px 0;
            text-align: center;
        }
    }
}