:root {
  --green: #00ffa3;
  --white: #ffffff;
  --black: #000000;
  --linear: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
}

@mixin icon-shared {
  background-position: center;
  background-repeat: no-repeat;
  padding: 13px;
}
.arrow-outward {
  @include icon-shared;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/arrow_outward.png");
}
.arrow-outward-white {
  @include icon-shared;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/arrow_outward-white.png");
}
