<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W3 眼鏡官網 - optical</title>
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style/all.css" />
  </head>
  <body>
    <!-- /////header///// -->
    <header><%- include('./layout/header'); -%></header>
    <!-- /////nav///// -->
    <nav class="product-nav">
      <div class="container">
        <ul class="d-flex">
          <li class="action">
            <a href="product-optical.html" class="now">OPTICAL</a>
          </li>
          <li><a href="#">SUNGLASSES</a></li>
          <li><a href="#">FUNCTIONAL</a></li>
        </ul>
      </div>
    </nav>
    <!-- /////main///// -->
    <main>
      <!-- /////banner///// -->
      <div class="product-banner d-flex">
        <ul class="d-flex">
          <li></li>
          <li></li>
        </ul>
      </div>
    </main>
    <!-- /////footer///// -->
    <footer class="footer"><%- include('./layout/footer'); -%></footer>

    <script type="module" src="../main.js"></script>
  </body>
</html>
